<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hamrah.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hamrah</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.107139115848-jvf449cojr174ocan4vpanddh8i48oko</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>107139115848-jvf449cojr174ocan4vpanddh8i48oko.apps.googleusercontent.com</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.hamrah.ios.sync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
